body{
    color: #405140;
    margin: 0;
    text-align: center;
    font-family: 'Merriweather', serif;
}

h1{
    color: black;
    position:relative;
    top:60px;
    font-size: 562.5%;
    margin-top: 0;
    font-family: 'Sacramento', cursive;
    
}

h2 {
    
    font-weight: normal;
    font-family: 'Montserrat', sans-serif;
    font-size: 2.5rem;
    color:black
  
}

h3 {
    font-family: 'Montserrat', sans-serif;
    color:#11999E
}

.top-container{
    background-color: skyblue;
    height: 695px;
    border:solid 10px;
    padding: 20px;
}


.middle-container{
 
}


.bottom-container{

  background-color: #66bfbf;
  padding:15px;
  line-height:50px
}
.top-cloud{
    position: relative;
    left:350px
}
.bottom-cloud{
    position: absolute;
    left:250px
}

.skill-row{
    width: 50%;
    margin: 50px auto 50px auto;
    text-align: left;
    line-height: 2;
}
.profile{
    width:50%;
    margin: 50px auto 50px auto;
}
.python{
    width: 20%;
    float: left;
    margin-right: 30px;
}
.C{
    width: 16%;
    float: right;
    margin-right: 60px;
    padding: 15px;
}
.mountain{
    position: relative;
    top:32px
}
hr{
    border:dotted #11999E 6px;
    border-bottom: none;
    width: 4%;
    margin:100px auto;
}
.btn {
    background: #11cdd4;
    background-image: -webkit-linear-gradient(top, #11cdd4, #11999e);
    background-image: -moz-linear-gradient(top, #11cdd4, #11999e);
    background-image: -ms-linear-gradient(top, #11cdd4, #11999e);
    background-image: -o-linear-gradient(top, #11cdd4, #11999e);
    background-image: linear-gradient(to bottom, #11cdd4, #11999e);
    -webkit-border-radius: 10;
    -moz-border-radius: 10;
    border-radius: 10px;
    font-family: 'Merriweather', serif;
    color: #ffffff;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
    position:relative;
    top:20px

  }
  
  .btn:hover {
    background: #30e3cb;
    background-image: -webkit-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -moz-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -ms-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -o-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: linear-gradient(to bottom, #30e3cb, #2bc4ad);
    text-decoration: none;
  }
  .footer-link{
    position:relative;
    top:20px
  }
  a{
    text-decoration: none;
    color:black;
    margin: 10px 20px;

  }
  a:hover{
    color:beige
  }
  .contact-me{
    padding:0px 0px 90px 0px;
    line-height: 20px;
  }
  .copyright{
    color:#eaf6f6;
    font-size:0.75rem;
    
  }